figures/difference/0001.png
figures/difference/0002.png
figures/difference/0003.png
figures/difference/0004.png
figures/difference/0005.png
figures/difference/0006.png
figures/difference/0007.png
figures/difference/0008.png
figures/difference/0009.png
figures/difference/0010.png
figures/difference/0011.png
figures/difference/0012.png
figures/difference/0013.png
figures/difference/0014.png
figures/difference/0015.png
figures/difference/0016.png
figures/difference/0017.png
figures/difference/0018.png
figures/difference/0019.png
figures/difference/0020.png
figures/difference/0021.png
figures/difference/0022.png
figures/difference/0023.png
figures/difference/0024.png
figures/difference/0025.png
figures/difference/0026.png
figures/difference/0027.png
figures/difference/0028.png
figures/difference/0029.png
figures/difference/0030.png
figures/difference/0031.png
figures/difference/0032.png
figures/difference/0033.png
figures/difference/0034.png
figures/difference/0035.png
figures/difference/0036.png
figures/difference/0037.png
figures/difference/0038.png
figures/difference/0039.png
figures/difference/0040.png
figures/difference/0041.png
figures/difference/0042.png
figures/difference/0043.png
figures/difference/0044.png
figures/difference/0045.png
figures/difference/0046.png
figures/difference/0047.png
figures/difference/0048.png
figures/difference/0049.png
Modules/evaluate.py
Modules/gradients.py
Modules/Neural_Net.py
Modules/preprocess.py
Modules/__pycache__/evaluate.cpython-312.pyc
Modules/__pycache__/gradients.cpython-312.pyc
Modules/__pycache__/Neural_Net.cpython-312.pyc
Modules/__pycache__/preprocess.cpython-312.pyc
nets/complete/0000_0100.pt
nets/complete/0100_0200.pt
nets/complete/0200_0300.pt
nets/complete/0300_0400.pt
nets/complete/0400_0500.pt
nets/complete/0500_0600.pt
nets/complete/0600_0700.pt
nets/complete/0700_0800.pt
nets/complete/0800_0900.pt
nets/complete/0900_1000.pt
nets/complete/1000_1100.pt
nets/complete/1100_1200.pt
nets/complete/1200_1300.pt
nets/complete/1300_1400.pt
nets/complete/1400_1500.pt
nets/complete/1500_1600.pt
nets/complete/1600_1700.pt
nets/complete/1700_1800.pt
nets/complete/1800_1900.pt
nets/complete/1900_2000.pt
nets/complete/2000_2100.pt
nets/complete/2100_2200.pt
nets/complete/2200_2300.pt
nets/complete/2300_2400.pt
nets/complete/2400_2500.pt
nets/complete/2500_2600.pt
nets/complete/2600_2700.pt
nets/complete/2700_2800.pt
nets/complete/2800_2900.pt
nets/complete/2900_3000.pt
nets/complete/3000_3100.pt
nets/complete/3100_3200.pt
nets/complete/3200_3300.pt
nets/complete/3300_3400.pt
nets/complete/3400_3500.pt
nets/complete/3500_3600.pt
nets/complete/3600_3700.pt
nets/complete/3700_3800.pt
nets/complete/3800_3900.pt
nets/complete/3900_4000.pt
nets/complete/4000_4100.pt
nets/complete/4100_4200.pt
nets/complete/4200_4300.pt
nets/complete/4300_4400.pt
nets/complete/4400_4500.pt
nets/complete/4500_4600.pt
nets/complete/4600_4700.pt
nets/complete/4700_4800.pt
nets/complete/4800_4900.pt
nets/complete/4900_5000.pt
nets/complete/5000_5100.pt
nets/complete/5100_5200.pt
nets/complete/5200_5300.pt
nets/complete/5300_5400.pt
nets/complete/5400_5500.pt
nets/complete/5500_5600.pt
nets/complete/5600_5700.pt
nets/complete/5700_5800.pt
nets/complete/5800_5900.pt
nets/complete/5900_6000.pt
nets/complete/6000_6100.pt
nets/complete/6100_6200.pt
nets/complete/6200_6300.pt
nets/complete/6300_6400.pt
nets/complete/6400_6500.pt
nets/complete/6500_6600.pt
nets/complete/6600_6700.pt
nets/complete/6700_6800.pt
nets/complete/6800_6900.pt
nets/complete/6900_7000.pt
nets/siren/000_700.pt
nets/siren/0010_0015.pt
nets/siren/first_300_320.pt
nets/siren/long_300_320.pt
nets/siren/robust_300_320.pt
nets/siren/robust_500_502.pt
nets/siren/second_300_320.pt
nets/siren/test_300_320.pt
nets/siren/third_300_320.pt
